<div class="application-wrapper">
    <div class="custom-container-fluid">
        <div class="custom-row">
            <div class="custom-col-40">
                <div class="cart-section">
                    <div class="chart-section-header">
                        <ul class="custom-cart-headers">
                            <li>Product</li>
                            <li>Price</li>
                            <li>Quantity</li>
                            <li>Total</li>
                        </ul>
                    </div>
                    <div class="chart-section-body">
                        <div class="no-products" *ngIf="productInCart.length==0 else productsInCartBlock">
                                There are no products
                        </div>
                        <ng-template #productsInCartBlock>
                            <ul>
                                <li *ngFor="let item of productInCart">
                                    <div class="cart-item">
                                        <div><span class="delete-product-from-cart" title="Delete from cart" (click)=deleteCart(item.id)><i class="fas fa-times"></i></span></div>
                                        <div class="product-name-cart">{{item.productName}}</div>
                                        <div class="product-price-cart">{{item.productPrice}}</div>
                                        <div class="product-quantity-cart">
                                            <div class="cart-product-quantity">
                                                <div class="minus-item" [class.disabled]="cartInput==0" (click)="plusMinusCart($event, item.id, 'minus')"><i class="fas fa-minus"></i></div>
                                                <div class="input-quantity-item">
                                                    <input type="text" value="1" type="number" value="{{item.cartQuantity}}" (keyup)="dynamicProductCartInput($event, item.id)" (change)="dynamicProductCartInput($event, item.id)">
                                                </div>
                                                <div class="plus-item" (click)="plusMinusCart($event, item.id, 'plus')"><i class="fas fa-plus"></i></div>
                                            </div>
                                        </div>
                                        <div class="product-price-cart">{{item.totalPrice}}</div>
                                    </div>
                                </li>
                            </ul>
                        </ng-template>
                    </div>
                    <div class="chart-section-footer">
                        <div class="custom-total-sextion">
                            <ul>
                                <li>
                                    <span class="left-side">SubTotal</span>
                                    <span class="right-side">{{cartTotalValue | currency:'EUR'}} <b>{{totalItemInCart}} Items</b></span>
                                </li>
                                <li>
                                    <span class="left-side">Vat tax</span>
                                    <span class="right-side">N/A <b>EUR</b></span>
                                </li>
                                <li>
                                    <span class="left-side">Discount</span>
                                    <span class="right-side">N/A <b>EUR</b></span>
                                </li>
                                <li>
                                    <span class="left-side">SubTotal</span>
                                    <span class="right-side"><i>{{cartTotalValue | currency:'EUR'}}</i></span>
                                </li>
                            </ul>
                        </div>
                        <div class="action-buttons-group">
                            <button mat-raised-button color="warn" class="cancel-sale">Cancel Sale</button>
                            <button mat-raised-button color="primary" class="proceed-sale">Process sale</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-col-60">
                <div class="product-section">
                    <div class="product-section-header">
                        <ul>
                            <li>
                                <a (click)="filterCategory('home')"><i class="fas fa-home"></i></a>
                            </li>
                            <li *ngFor="let category of productCategory">
                                <a (click)="filterCategory(category)">{{category}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-section-body">
                        <div class="product-search">
                            <input type="text" placeholder="Search.." (keyup)="productSearch($event)">
                            <a title="Search Product"><i class="fas fa-search"></i></a>
                        </div>
                        <div class="products">
                            <div class="add-product">
                                <div class="total-items">{{ productList.length }} products(s), Filter: {{filter}}</div>
                                <a href="javascript:;" (click)="addProductModel()"><i class="fas fa-plus"></i> Add Product</a>
                            </div>
                            <div class="no-product-found" *ngIf="productList.length == 0 else products">No Product Found</div>
                            <ng-template #products>
                                <ul>
                                    <li *ngFor="let product of productList">
                                        <a (contextmenu)="productOption($event)">
                                            <div class="transparent-bg-color">
                                                <span class="product-name" id="{{product.id}}" [style.background]="productBackgroundColor">{{product.productName}}</span>
                                            </div>
                                            <img src="{{product.productImage}}" alt="{{product.productName}}">
                                        </a>
                                    </li>
                                </ul>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-product-options-menu" *ngIf="showProductOption" [style.left.px]="left" [style.top.px]="top">
    <ul>
        <li>
            <a (click)="addToCart(selectedContextProductID)" [class.disabled]="alreadyInCart == true">Add to cart<span *ngIf="alreadyInCart == true" class="already-carted">Already carted</span></a>
        </li>
        <li>
            <a (click)="productInformation(selectedContextProductID)">Product information</a>
        </li>
        <li>
            <a (click)="updateProduct(selectedContextProductID)">Update product</a>
        </li>
        <li>
            <a (click)="deleteProduct(selectedContextProductID)">Delete Product</a>
        </li>
        <li>
            <a class="close-context" (click)="closeContext()">Close menu</a>
        </li>
    </ul>
</div>
<div class="add-product-form" [class.open]="openModel == true">
    <div class="closeAddProduct" title="Close" (click)="closeModel()"><i class="fas fa-times"></i></div>
    <div class="add-product-form-area">
        <h2>{{ modelHeading }}</h2>
        <div class="form-area-wrapper">
            <div class="action-button" *ngIf="modelBoxType == 'add'">
                <form class="example-form" [formGroup]="addProductItems">
                    <mat-form-field class="example-full-width">
                        <input required matInput placeholder="Product name" formControlName="productName">
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <input required matInput placeholder="Product Category" formControlName="productCategory">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input required matInput type="number" placeholder="Unit price of product" formControlName="productUnitPrice">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input required matInput type="number" placeholder="Available quantity" formControlName="productAvailableQuantity">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Image (CDN Link)" formControlName="productImage" readonly value="computer.jpg">
                    </mat-form-field>
                    <button type="button" mat-raised-button color="primary" class="cancel-product" (click)="closeModel()">Cancel</button>
                    <button type="button" [disabled]="!addProductItems.valid" mat-raised-button color="primary" class="add-product-and-close" (click)="addProductSubmit()">Add Product and close</button>
                </form>
            </div>
            <div class="action-button" *ngIf="modelBoxType == 'update'">
                <form class="example-form" [formGroup]="updateProductItems">
                    <mat-form-field class="example-full-width">
                        <input required matInput placeholder="Product name" formControlName="productName">
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <input required matInput placeholder="Product Category" formControlName="productCategory">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input required matInput type="number" placeholder="Unit price of product" formControlName="productUnitPrice">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input required matInput type="number" placeholder="Available quantity" formControlName="productAvailableQuantity">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Image (CDN Link)" formControlName="productImage" readonly value="computer.jpg">
                    </mat-form-field>
                    <button type="button" mat-raised-button color="primary" class="cancel-product" (click)="closeModel()">Cancel</button>
                    <button type="button" [disabled]="!updateProductItems.valid" mat-raised-button color="primary" class="add-product-and-close" (click)="updateProductSubmit()">Update Product and close</button>
                </form>
            </div>
            <div class="action-button" *ngIf="modelBoxType == 'delete'">
                <h3 class="model-heading">Are you sure you want to delete?</h3>
                <button type="button" mat-raised-button color="primary" class="cancel-product" (click)="closeModel()">Cancel</button>
                <button type="button" mat-raised-button color="warn" class="add-product-and-close" (click)="deleteProductItem()">Delete</button>
            </div>
        </div>
    </div>
</div>