.custom-row:before,.custom-row:after {
    content: "";
    display: block;
    clear: both;
}

.custom-row [class*="custom-col"] {
    float: left;
}

.custom-col-40 {
    width: calc(40% - 15px);
    margin-right: 15px;
}

.custom-col-60 {
    width: 60%;
}

.custom-container-fluid {
    padding: 10px;
}
.chart-section-body {
    height: calc(100% - 250px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.chart-section-header {
    height: 40px;
}

.chart-section-footer {
    height: 50px;
}
.application-wrapper {
    .cart-section,
    .product-section {
        background: #EBEEEF;
        height: calc(100vh - 78px);
    }
    .product-section-header {
        width: 100%;
        overflow-y: hidden;
        ul {
            margin: 0;
            list-style: none;
            padding: 5px;
        }
        li {
            display: inline-block;
        }
        a {
            display: block;
            padding: 6px 20px;
            font-size: 12px;
            text-transform: uppercase;
            background: #E2E2E2;
            margin-right: 5px;
            color: #4f4f4f;
            font-weight: 600;
            border-bottom: 2px solid #4CAF50;
            cursor: pointer;
            letter-spacing: 0.5px;
        }
    }
}

.product-search input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    padding: 5px;
    padding-right: 50px;
}

.product-search {
    padding: 5px 10px;
    position: relative;
}

.product-search a {
    position: absolute;
    right: 11px;
    font-size: 15px;
    padding: 3px 15px;
    color: #4d4d4d;
    cursor: pointer;
}

.cart-section {
    padding: 10px;
}
.action-buttons-group > button {
    width: calc(50% - 20px);
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 600;
}
.cancel-sale {
    margin-right: 10px;
}
.proceed-sale {
    margin-left: 10px;
    background: #64C87A !important;
}
.no-products {
    padding: 10px;
    background: #fff;
    text-align: center;
    margin-bottom: 20px;
    min-height: 200px;
    line-height: 180px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

.custom-cart-headers {
    padding: 6px 10px 12px;
    list-style: none;
    text-transform: unset;
    font-weight: 600;
    margin: 0;
}

.custom-cart-headers li {
    display: inline-block;
}

.custom-cart-headers li:nth-child(1) {
    width: 40%;
    text-align:center;
}

.custom-cart-headers li:nth-child(2) {
    width: 10%;
}

.custom-cart-headers li:nth-child(3) {
    width: 30%;
}

.custom-cart-headers li:nth-child(4) {
    width: 20%;
    text-align:right;
}

.products {
    padding: 5px 0px;
}
.products ul {
    list-style: none;
    display: block;
    padding-left: 0;
    margin-top: 0;
}

.products ul li {
    display: inline-block;
    padding: 10px;
    position: relative;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    width: 100px;
    height: 100px;
}
.products img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.products li span.product-name {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 16px;
    background: rgba(33, 150, 243, 0.6);
    font-weight: 600;
}

.no-product-found {
    background: #FFC107;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}

.add-product a {
    color: #333;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.add-product a:hover {
    background: #e2e2e2;
}

.add-product:before,.add-product:after {
    content: "";
    display: block;
    clear: both;
}

.products ul {
    height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}
.add-product-form{
    visibility: hidden;
    opacity: 0;
    transform: translate(100%);
    transition: transform 0.2s linear;
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    height: 100vh;
    background: #ebeeef;
}

.add-product-form.open {
    visibility: visible;
    opacity: 1;
    transform: translate(0%);
    transition: transform 0.2s linear;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.48);
}

.closeAddProduct {
    float: right;
    padding: 10px 20px;
    color: #666;
    font-size: 15px;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.add-product-form-area {
    padding: 10px 20px;
}

.add-product-form-area h2 {
    font-weight: 100;
    border-left: 5px solid #2196f3;
    padding-left: 10px;
}

mat-form-field {
    width: 100%;
}

.form-area-wrapper {
    padding: 25px 50px;
}

.action-button {
    padding: 10px 0;
    text-align: right;
}

.action-button button {
    margin-left: 20px;
}

.cancel-product {
    background: none !important;
    color: #6a6a6a !important;
    box-shadow: none !important;
    font-weight: 400;
}

.custom-product-options-menu{
    background: #ebeeef;
    width: 200px;
    height: auto;
    display: block;
    position: fixed;
    box-shadow: 1px 1px 5px #000;
    border-radius: 2px;
}

.custom-product-options-menu ul {
    padding-left: 0;
    list-style: none;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
}

.custom-product-options-menu ul li {
    display: block;
}

.custom-product-options-menu ul li a {
    padding: 5px 10px;
    display: block;
    font-weight: 400;
    cursor: pointer;
}

.custom-product-options-menu ul li a:hover {
    background: #b8b8b8;
}

.close-context:hover {
    background: #f44336 !important;
    color: #fff;
}

.custom-total-sextion ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.custom-total-sextion ul li {
    display: block;
    border-bottom: 1px solid #c9c9c9;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
}

.custom-total-sextion ul li .left-side {
    width: 40%;
    float: left;
    background: #f2f2f2;
    padding: 8px 10px;
}

.custom-total-sextion ul li .right-side {
    width: 60%;
    float: right;
    background: #ffffff;
    padding: 8px 10px;
}

.custom-total-sextion ul li:last-child {
    border-bottom: 0;
}

.custom-total-sextion ul li .right-side i {
    color: #009688;
    font-weight: bold;
    font-style: normal;
}

.custom-total-sextion ul li .right-side:before,.custom-total-sextion ul li .right-side:after {
    clear: both;
    display: block;
    content: "";
}

.custom-total-sextion ul li .right-side b {
    float: right;
}

.action-buttons-group {
    margin-top: 20px;
}